<div style="margin:0 auto;">
    <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
      <div class="card-header">Skripten</div>
      <div class="card-body text-dark">

<%= form_with(model: studenten_status, local: true) do |form| %>
  <% if studenten_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(studenten_status.errors.count, "error") %> prohibited this studenten_status from being saved:</h2>

      <ul>
      <% studenten_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :studenten_status_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
</div>
</div>