<div style="margin:0 auto;">
    <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
      <div class="card-header">Skripten</div>
      <div class="card-body text-dark">

<h1>Antrag Typs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Beschreibung</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @antrag_typs.each do |antrag_typ| %>
      <tr>
        <td><%= antrag_typ.name %></td>
        <td><%= antrag_typ.beschreibung %></td>
        <td><%= link_to 'Show', antrag_typ %></td>
        <td><%= link_to 'Edit', edit_antrag_typ_path(antrag_typ) %></td>
        <td><%= link_to 'Destroy', antrag_typ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Antrag Typ', new_antrag_typ_path %>
</div>
</div>
</div>
