<div style="margin:0 auto;">
    <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
      <div class="card-header">Skripten</div>
      <div class="card-body text-dark">


<%= form_with(model: student, local: true, class: "form-group") do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;" >
    <div class="card-header">Next Kunden</div>
    <div class="card-body text-dark">

      <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= form.label :bibnummer %><%= form.number_field :bibnummer, id: :student_bibnummer %> </li>
            <li class="list-group-item"><%= form.label :surname %><%= form.text_field :surname, id: :student_surname %> <%= form.label :name %> <%= form.text_field :name, id: :student_name %> </li>
            <li class="list-group-item"><%= form.label :tel %> <%= form.text_field :tel, id: :student_tel %> </li>
            <li class="list-group-item"> <%= form.label :email %> <%= form.text_field :email, id: :student_email %></li>  
            <% if current_member %>          
            <li class="list-group-item"><%= form.label :kundenstatus %><%= form.collection_select :kundenstatus, @studenten_statuss, :id, :status, :prompt => "Bitte Status auswählen" %></li>
            <% end %>
            <li class="list-group-item"><%= form.label :ersteinschreibung %><%= form.datetime_select :ersteinschreibung, id: :student_ersteinschreibung %></li>
        </ul>
        <div class="actions">
    <%= form.submit %>
  </div>
    </div>
    </div>
    
 
  <div class="field">
  NICHT RELEVANT <br>
  <% if current_member %>
    <%= form.label :percentage %>
    <%= form.number_field :percentage, id: :student_percentage %>
  </div> 
  <% end %>
  
<% end %>


</div>
</div>
</div>