<%= form_with(model: studiengang, local: true) do |form| %>
  <% if studiengang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(studiengang.errors.count, "error") %> prohibited this studiengang from being saved:</h2>

      <ul>
      <% studiengang.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :studiengang_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
