<div style="margin:0 auto;">
    <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
      <div class="card-header">Skripten</div>
      <div class="card-body text-dark">

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @professor.title %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @professor.surname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>

</div>
</div>
</div>
