<div style="margin:0 auto;">
    <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
      <div class="card-header">Skripten</div>
      <div class="card-body text-dark">


<%= form_with(model: dateien_kategorien, local: true) do |form| %>
  <% if dateien_kategorien.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dateien_kategorien.errors.count, "error") %> prohibited this dateien_kategorien from being saved:</h2>

      <ul>
      <% dateien_kategorien.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :dateien_kategorien_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
</div>
</div>
