<div style="margin:0 auto;">
    <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
      <div class="card-header">Skripten</div>
      <div class="card-body text-dark">


<h1>Dateien Kategoriens</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dateien_kategoriens.each do |dateien_kategorien| %>
      <tr>
        <td><%= dateien_kategorien.name %></td>
        <td><%= link_to 'Show', dateien_kategorien %></td>
        <td><%= link_to 'Edit', edit_dateien_kategorien_path(dateien_kategorien) %></td>
        <td><%= link_to 'Destroy', dateien_kategorien, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-success"><%= link_to 'New Dateien Kategorien', new_dateien_kategorien_path %></button>

</div>
</div>
</div>
