<div style="margin:0 auto;">
    <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
      <div class="card-header">Skripten</div>
      <div class="card-body text-dark">

<p>
  <strong>Name:</strong>
  <%= @softwarerechte.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @softwarerechte.beschreibung %>
</p>

<p>
  <strong>Kasse neuerkunde:</strong>
  <%= @softwarerechte.kasse_neuerKunde %>
</p>

<p>
  <strong>Kasse bezahlen:</strong>
  <%= @softwarerechte.kasse_bezahlen %>
</p>

<p>
  <strong>Kasse ausgeben:</strong>
  <%= @softwarerechte.kasse_ausgeben %>
</p>

<p>
  <strong>Dreamspark aufnehmen:</strong>
  <%= @softwarerechte.dreamspark_aufnehmen %>
</p>

<p>
  <strong>Dreamspark editiren:</strong>
  <%= @softwarerechte.dreamspark_editiren %>
</p>

<p>
  <strong>Drucken:</strong>
  <%= @softwarerechte.drucken %>
</p>

<p>
  <strong>Ausleihen algemein:</strong>
  <%= @softwarerechte.ausleihen_algemein %>
</p>

<p>
  <strong>Ausleihen laptop:</strong>
  <%= @softwarerechte.ausleihen_laptop %>
</p>

<p>
  <strong>Antrag new:</strong>
  <%= @softwarerechte.antrag_New %>
</p>

<p>
  <strong>Antrag show:</strong>
  <%= @softwarerechte.antrag_Show %>
</p>

<p>
  <strong>Antrag delete:</strong>
  <%= @softwarerechte.antrag_delete %>
</p>

<p>
  <strong>Antrag edit:</strong>
  <%= @softwarerechte.antrag_edit %>
</p>

<p>
  <strong>Antragtyp:</strong>
  <%= @softwarerechte.antragtyp %>
</p>

<p>
  <strong>Antragstatus:</strong>
  <%= @softwarerechte.antragStatus %>
</p>

<p>
  <strong>Datein new:</strong>
  <%= @softwarerechte.datein_New %>
</p>

<p>
  <strong>Datein show:</strong>
  <%= @softwarerechte.datein_Show %>
</p>

<p>
  <strong>Datein delete:</strong>
  <%= @softwarerechte.datein_delete %>
</p>

<p>
  <strong>Datein edit:</strong>
  <%= @softwarerechte.datein_edit %>
</p>

<p>
  <strong>Dateienkatigorie:</strong>
  <%= @softwarerechte.dateienKatigorie %>
</p>

<p>
  <strong>Modul:</strong>
  <%= @softwarerechte.modul %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @softwarerechte.professor %>
</p>

<p>
  <strong>Studiengang:</strong>
  <%= @softwarerechte.studiengang %>
</p>

<p>
  <strong>Invetar new:</strong>
  <%= @softwarerechte.invetar_New %>
</p>

<p>
  <strong>Invetar show:</strong>
  <%= @softwarerechte.invetar_Show %>
</p>

<p>
  <strong>Invetar delete:</strong>
  <%= @softwarerechte.invetar_delete %>
</p>

<p>
  <strong>Invetar edit:</strong>
  <%= @softwarerechte.invetar_edit %>
</p>

<p>
  <strong>Member new:</strong>
  <%= @softwarerechte.member_New %>
</p>

<p>
  <strong>Member show:</strong>
  <%= @softwarerechte.member_Show %>
</p>

<p>
  <strong>Member delete:</strong>
  <%= @softwarerechte.member_delete %>
</p>

<p>
  <strong>Member edit:</strong>
  <%= @softwarerechte.member_edit %>
</p>

<p>
  <strong>Order new:</strong>
  <%= @softwarerechte.order_New %>
</p>

<p>
  <strong>Order show:</strong>
  <%= @softwarerechte.order_Show %>
</p>

<p>
  <strong>Order delete:</strong>
  <%= @softwarerechte.order_delete %>
</p>

<p>
  <strong>Order edit:</strong>
  <%= @softwarerechte.order_edit %>
</p>

<p>
  <strong>Orderstatus:</strong>
  <%= @softwarerechte.orderStatus %>
</p>

<p>
  <strong>Softwarerechte:</strong>
  <%= @softwarerechte.softwarerechte %>
</p>

<%= link_to 'Edit', edit_softwarerechte_path(@softwarerechte) %> |
<%= link_to 'Back', softwarerechtes_path %>


</div>
</div>
</div>