<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @daten.name %>
</p>

<p>
  <strong>Dateipfad:</strong>
  <%= @daten.dateipfad %>
</p>

<p>
  <strong>Kategorie:</strong>
  <%= @daten.kategorie %>
</p>

<p>
  <strong>Studiengang:</strong>
  <%= @daten.studiengang %>
</p>

<p>
  <strong>Modul:</strong>
  <%= @daten.modul %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @daten.semester %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @daten.professor %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @daten.autor %>
</p>

<p>
  <strong>Druckbar:</strong>
  <%= @daten.druckbar %>
</p>

<p>
  <strong>Sichtbar:</strong>
  <%= @daten.sichtbar %>
</p>

<p>
  <strong>Sendbar:</strong>
  <%= @daten.sendbar %>
</p>

<p>
  <strong>Hinzugefuegt:</strong>
  <%= @daten.hinzugefuegt %>
</p>

<p>
  <strong>Preis:</strong>
  <%= @daten.preis %>
</p>

<%= link_to 'Edit', edit_daten_path(@daten) %> |
<%= link_to 'Back', datens_path %>
